<!-- Uses a transparent header that draws on top of the layout's background -->
<style>
.demo-layout-transparent {
  background: url('https://getmdl.io/assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
</style>

<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Title</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
  </main>
</div>

<!-- Index Module -->
<div class="material-index mdl-grid">
    <% if( (theme.scheme === 'Paradox') && (page.current === 1) && (is_home()) ) { %>
        <!-- Paradox Header -->
        <%- partial('_partial/daily_pic') %>
        <%- partial('_partial/blog_info') %>
    <% } %>
    <div class="locate-thumbnail-symbol"></div>

    <!-- Pin on top -->
    <% if(typeof hasposttop === 'function') { %>
        <% if(hasposttop(site.posts)) { %>
            <% getposttop(site.posts).each(function(toppost){ %>
                <% if(theme.scheme === 'Paradox'){ %>
                    <!-- Paradox Thumbnail -->
                    <%- partial('_partial/Paradox-post_entry', { post: toppost, index: true, pin: true }) %>
                <% } %>
                <% if(theme.scheme === 'Isolation'){ %>
                    <!-- Isolation Thumbnail -->
                    <%- partial('_partial/Isolation-post_entry', { post: toppost, index: true, pin: true }) %>
                <% } %>
            <% }); %>
        <% } %>
    <% } %>

    <!-- Normal Post -->
    <% page.posts.each(function(post) { %>
        <% if(!((typeof hasposttop === 'function') && post.top)) { %>
            <% if(theme.scheme === 'Paradox') { %>
                <!-- Paradox Thumbnail -->
                <%- partial('_partial/Paradox-post_entry', { post: post, index: true, pin: false }) %>
            <% } %>
            <% if(theme.scheme === 'Isolation') { %>
                <!-- Isolation Thumbnail -->
                <%- partial('_partial/Isolation-post_entry', { post: post, index: true, pin: false }) %>
            <% } %>
        <% } %>
    <% }); %>

    <% if (page.total > 1) { %>
    <!-- Index nav -->
        <nav class="material-nav mdl-cell mdl-cell--12-col">
            <%- paginator({
                prev_text: __('<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"><i class="material-icons" role="presentation">arrow_back</i></button>'),
                next_text: __('<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"><i class="material-icons" role="presentation">arrow_forward</i></button>'),
                space: ''
            }) %>
        </nav>
    <% } %>

    <% if(theme.scheme === 'Paradox') { %>
        <%- partial('_partial/Paradox-post_entry-thumbnail') %>
    <% } %>
</div>
